<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postLoveIts > 0,
                'list-group-item-danger': postLoveIts < 0}">
  <h3>{{postTitle}}
    <span style="float: right; font-size: 0.6em; color: darkgrey;">
      Ajouté le {{postCreateAt | date: 'dd/MM/yyyy à hh:mm:ss'}}
    </span>
  </h3>
  <p>{{postContent}}</p>
  <div>
    <button class="btn btn-success"
            (click)="onAddLoveIts()">Love it!</button>
    <button class="btn btn-danger" style="margin-left: 15px;"
            (click)="onRemoveLoveIts()">D'ont love it...</button>
    <span style="font-size: 0.6em;">
      Solde de j'aime actuel: {{postLoveIts}}
    </span>
  </div>
</li>
