<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h2>Blog</h2>
      <ul class="list-group">
        <app-post-list-item-component *ngFor="let post of posts"
                                                [postTitle]="post.title"
                                                [postContent]="post.content"
                                                [postLoveIts]="post.loveIts"
                                                [postCreateAt]="post.created_at">

        </app-post-list-item-component>
      </ul>
    </div>
  </div>
</div>
